body {
    background-color: #3B6699;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

p {
    color: #323F40;
}

.container {
    
    margin: 0%;
    padding: 0%;
    width: 100%;
}

h4 {
    color: #323F40;
    font-family: 'Raleway', sans-serif;
    display: inline;
    padding: 10% 0% 10% 5%;
}
            
h1 {
    color: #C8FEFF;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    text-align: right;
    padding: 2% 20% 10% 5%;
    
    font-size: 3.5em;
}

body>div {
    margin: 0%;
    padding: 0%;
}

.basic-row {
    position: absolute;
    width: 100%;
    left: 0%;
    margin-top: 2%;
    margin-left: 0%;
}

.first-row.row {
    
    top: 0%;
    height: 20%;
    
    /*background-color: red;*/
}

.second-row.row {
    
    top: 20%;
    height: 40%;
    
    /*background-color: blue;*/
}

.generic-column {
    min-height: 100%;
}

.central-column {
    position: absolute;
    min-height: 100%;
    width: 80%;
    margin: auto;
    /*border: solid 1px black;*/
    /*background-color: green;*/
}

.icon-container {
    position: absolute;
    margin: 0% 5% 0% 5%;
    padding-top: 5%;
    width: 90%;
    height: 100%;
    /*background-color: purple;*/
    
}

.icon {
    position: relative;
    margin: auto auto auto auto;
    border-radius: 50%;
    border: solid 6px #C8FEFF;
    /*background-color: red;*/
    width: 50%;
    height: 70%;
    
}

div.icon > img {
    position: absolute;
    height: 70%;
    width: 80%;
    
    left: 4%;
    top: 3%;
}

/*div.icon > img:nth-of-type(2) {
    position: absolute;
    height: 70%;
    width: 80%;
    
    left: 8%;
    top: 7%;
}*/

img#directory-page {
    left: 8%;
    top: 13%;
}
img#watch-app {
    left: 10%;
    top: 12%;
}

img#support-page {
    left: 9%;
    top: 11%;
}

img#git-icon {
    left: 10%;
    top: 12%;
}

img#twitter-icon {
    left: 10%;
    top: 14%;
}

.icon-header {
    position: relative;
    margin: auto auto auto auto;
    padding-top: 5%;
    /*background-color: red;*/
    width: 80%;
    height: 30%;
}

p#icon-header-text {
    text-align: center;
    padding-right: 6%;
    
    font-size: 2em;
}

.third-row.row {
    
    top: 62%;
    height: 40%;
    
    /*background-color: blue;*/
}

.fourth-row.row {
    
    top: 104%;
    height: 40%;
    
    /*background-color: blue;*/
}

.fifth-row.row {
    
    top: 146%;
    height: 40%;
    
    /*background-color: blue;*/
}

.sixth-row.row {
    
    top: 188%;
    height: 40%;
    
    /*background-color: blue;*/
}

.seventh-row.row {
    top: 230%;
    height: 40%;
}

/*Sub pages*/

h1#sub-page-headline {
    color: #C8FEFF;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    
    
    text-align: left;
    padding: 0% 30% 10% 0%%;
    
    font-size: 3.5em;
}

h2#sub-page-tagline {
    position: absolute;
    left: 35%;
    font-size: 2em;
    text-align: left;
    padding: 0% 30% 10% 0%%;
}

.sub-page-row.third-row {
    height: 25%;
    top: 62%;
}

.generic-subpage-column {
    border-bottom: solid 2px #C8FEFF;
    min-height: 100%;
    margin-bottom: 0%;
}

table.borderless td {
    border: none;
}

table.borderless th {
    border: none;
}

th {
    border: none;
    color: #C8FEFF;
    font-family: 'Raleway', sans-serif;
}

tr {
    height: 20%;
}
